# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:Two types-integers and floating point numbers. Integers contain digits without floating point.

Strings:Immutable type-character on given position cannot be changed using index assignment.Sequence of characters. Can be with double as well as single quotes due to escaping. There are a lot of methods like replace, len etc that do different operations over strings.

Lists:sequence of data types.Single list can store different data types elements. We use [] to surround the list's elements.

Tuples:Immutable, The values are in order.

Dictionaries:Non-sequenced. We use {} to surround the elements. They are represented as key-value pairs key:value.Used when frequent insert and delete is performed.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
((100.25*100/100)**2)**0.5+200-200

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [3]:
2/3#will produce 0
#we can fix that using 
2.0/3

0

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
#44,29,34

What is the *type* of the result of the expression 3 + 1.5 + 4?

What would you use to find a numberâ€™s square root, as well as its square?

In [7]:
3+1.5+4 #floating point number

8.5

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [10]:
s = 'hello'
# Print out 'e' using indexing

s[-4]

'e'

Reverse the string 'hello' using indexing:

In [11]:
s ='hello'

# Reverse the string using indexing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s ='hello'

# Print out the

s[len(s)-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [15]:
a=[0,0,0]
b=[]
b.append(0)
b.append(0)
b.append(0)
print a
print b

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [18]:
l = [1,2,[3,4,'hello']]
l[2][-1]='goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [19]:
l = [3,4,5,5,6]
l.sort()
l

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [20]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [21]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [22]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [24]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

No. Because it is not ordered data structure.

## Tuples

What is the major difference between tuples and lists?

Tupels are immutable.

How do you create a tuple?

Implicitly using (). Or directly casting list to tuple

## Sets

What is unique about a set?

It contains only unique values without repetition.

Use a set to find the unique values of the list below:

In [27]:
l = [1,2,2,33,4,4,11,22,3,3,2]
print set(l)

set([1, 2, 3, 4, 33, 11, 22])

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [32]:
# Answer before running cell: false
2 > 3

False

In [31]:
# Answer before running cell:false
3 <= 2

False

In [30]:
# Answer before running cell:false
3 == 2.0

False

In [29]:
# Answer before running cell:true
3.0 == 3

True

In [34]:
# Answer before running cell:false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [35]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False? false
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!